/* Todos os elementos da página */
*{
    padding: 0;
    margin: 0;
}

/* Elemento de tag <body> */
body{

    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

/* Elemento de classe da <div> container que abarca todo o código */
.container{
    max-width: 1000px;
    margin: auto;
}

/* Elemento do "h1" */
h1{
    background-color: #48C5CE;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    padding: 10px;
}

/* Elemento da imagem de fundo da página */
main{
    background-image: url(../imagens/people.jpg);
    background-size: cover;
    overflow: hidden;
}

/* Elemento de classe do formulário */
.form{
    max-width: 230px;
    background-color: rgba(255, 255, 255, 0.73);
    float: right;
    box-sizing: border-box;
    padding: 20px;
    margin: 20px;
}

/* Elemento de "main h2" e "p" do formulário */
main h2, p{

    font-size: 16px;
    margin-bottom: 15px;

}

/* Elemento "input" do formulário */
input{

    border: none;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;

}

/* Elemento do campo de seleção dos Estados */
select{
    border: none;
    padding: 9px;
    margin-bottom: 10px;
    width: 100%;

}

/* Alteração do asset de seta do elemento "select" */
select{
    appearance: none;
    background-image: url(../assets/arrow.jpg);
    background-repeat: no-repeat;
    background-position: calc(100% - 10px) center;
}

/* Elemento "input" do botão "inscreva-se" */
input[type="submit"]{
    color: white;
    background-color: #48C5CE ;
    font-weight: bold;
    padding-right: 1px;
}

/* Elemento "input" do botão "inscreva-se" quando o cursor do mouse o toca */
input[type="submit"]:hover{
    cursor: pointer;
}

/* Elemento "select" dos itens do formulário quando o cursor do mouse o toca */
select:hover{
    cursor: pointer;
}

/* Elemento do "h1" */
h3{
    font-size: 24px;
    margin-bottom: 15px;
}

/* Elemento de classe da foto no "footer" da página */
.face{
    width: 160px;
}

/* Elemento footer da página */
footer{
    background-color: #202121;
    text-align: center;
    padding: 40px;
}

/* Elemento de classe do texto do footer da página */
.text{
    color: white;
    display: inline-block;
    max-width: 40%;
    text-align: left;
    margin-left: 40px;
}

/* Responsividade da página */
@media screen and (max-width: 500px) {

    .form{

        float: none;  
        margin: auto;  
        max-width: 80%;
        margin-top: 20px;
        margin-bottom: 20px;
     
    }

}


